<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <title>Index</title>
    <!--=include partials/headscripts.html  -->
  </head>
<body>

  <!-- loop -->
  <div id="app-4">
    <h2>app-4: v-for binding</h2>
    <ol>
      <li v-for="(todo, index) in todos">
        Index: {{ index }}. {{ todo.text }}
      </li>
    </ol>
    <ul>
      <li v-for="(data, key, index) in person">
        {{ index }}. {{ key }}: {{ data }}.
      </li>
    </ul>
  </div>

  <!--=include partials/footerscripts.html  -->
</body>
</html>
